\bin/
\cmake/
.DS_Store
\.vscode/
\out/
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_1.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_2.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_3.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_4.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_5.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR7_6.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR8_1.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR8_2.csv
libraries/ParseLib/tests/test_data/CSV/Write/csvR9.csv

build-prototype-Desktop_Qt_5_11_2_clang_64bit-Debug/
build-prototype-Desktop-Debug/
CMakeLists.txt.user

TestAll
TestComponents
TestIntegration
TestSystem
