[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/CodexLib"]
	path = submodules/CodexLib
	url = https://github.com/lmsorenson/CodexLib.git
